/*  Header Settings  */
#header {
  color: white;
  filter: saturate(150%) grayscale(10%);
  background: linear-gradient(to bottom, rgba(72,72,72, .4), rgba(72,72,72, .4)),url(../assets/images/notebook_notebook.png);
  background-size: cover;
}

.my-1, .my-4 {
  margin-left: 10%;
  margin-right: 10%;
}

.my-4 {
  background: white;
  opacity: .3;
}
/*  End Header  */

/*  Sub Header  */
.sub-header {
  height: 20%;
  color: black;
  margin-top: -1rem;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}
/*  End Sub Header  */

/*  Process  */
.process {
  /*background-color: #72788D;*/
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.fa {
  color: #AA552F;
}
/*  End Process  */

/*  Navigation  */
.navbar-brand img {
  border-radius: 25px;
  /*border: 1px solid #73AD21;*/
  height: 50px;
  width: 50px;
}

.navbar {
  padding-bottom: 15%;
}

.bg-light {
  background-color: transparent !important;
}

/*  End Navigation  */

/*  Buttons  */
.buttons {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
/*  End Buttons  */
