h1,h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
}

h3 {
  font-family: 'Kaushan Script', cursive;
  color: #3F3F3F;
}

p {
  font-family: 'Helvetica';
  font-size: 1.25rem;
  font-weight: 300;
}

.navbar-nav li {
  text-transform: capitalize;
}

.sub-header h2 {
  font-weight:100;
}

.SH2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 102px;
  letter-spacing: -8px;
  color: #F7AC8A;
}

.SH3 {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  letter-spacing: -8px;
  padding-left: 1rem;
  padding-right: .8rem;
}

.process h3 {
  color: #555C77;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.handwriting {
  color: #F7AC8A;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
  text-shadow: .5px 2.5px 3px black;
  /*letter-spacing: .25rem;*/
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
