<markdown>

When I started at Bloc.io I was like everyone else I had talked to. I viewed web development, "coding" as I prefer to call it, as being similar to learning a new language like French, or Spanish. While there may be similarities to learning how to code and learning a language I do not see that as the best comparison.

## So Far SOOO Good.

title: My family has always been in the construction industry, building small to medium sized residential housing. This is the best comparison I can see to learning how to code. Chalk it up to me knowing more about construction and finding it easier to talk about what you know.

Construction and coding just makes sense, its not the knowing what a hammer is that makes it useful. Its knowing how to use a hammer in conjunction with nails and wood that ultimately help to create a finished structure that can be lived in. In coding, its not the defining of variables that is useful its defining variables, using them in conjunction with functions, and methods to create larger more complex structures that create a useful program, website, or application.

## Where I'm at now.

Currently I'm able to see a somewhat bigger picture. I'm using my tools to create and grow my skills, but I'm definitely not efficient. I write long albeit easy to read code. I've just now been able to simply spit out what I'm trying to say and get to the point much faster.

ex.
```javascript
if (var x === y) { //if x is equal to y
    do something;
} else { // if x is not equal to y
    do the the thing I want to do;
}
```

This example definitely works, but its a bit wordy. In my current role as Director of Operations I often times have to negotiate rates with our vendors, and one particular skill I've learned is beneficial to those negotiations is "asking to go to the bathroom."

Not literally asking to go to the bathroom but think of when you need to use the bathroom in a new place and you need to ask for directions. The fastest, quickest way to ask that question yields the best results. The same holds true for negotiating with vendors, and writing code.

So take the snippet above and change it to.

ex. 
```javascript
if ( var x !== Y) { //if x is not equal to y
    do the thing I want to do;
}
```
It's a minor difference, and due to my limited skill-set, I don't want to definitively say this is the best and only way to do things, because it might not be. However the mere fact that after roughly a month of learning I'm now able to see new/different approaches to a problem, is encouraging to me. This is a skill I know I need to learn in order to grow as a developer. 

Final thought, knowing what you don't know is another skill to learn. Asking questions, looking at examples, reading everything is beneficial. Even if it doesn't make sense now it will one day. When that day comes you will know what it is and why you need to learn it.
</markdown>