<markdown>
### <span style="color:purple;">Goals</span>

The goal was to create a site that had:

- A Well Designed Page and easy to use layout.
- Album/Catalog Presentation
- Music Player

***
<div>
### Solution
</div>
I started by building the backbone of the application layout with HTML, adding styling and responsiveness using CSS.

![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")
#### Implemented interactivity with JavaScript.

With an established structure and style for Bloc Jams, the next step was to implement animations on the landing page to spice things up and move away from a completely static page.

{:.center}
![]({{ site.baseurl }}/img/project-img/blocjams/Animation.png)

#### Display Multiple Albums

For displaying multiple albums I created a script that dynamically generates as many albums as needed to display.

{:.center}
![]({{ site.baseurl }}/img/project-img/blocjams/collection-display.png)

#### Display Album

The application will pull the album information from a database and populate the album information dynamically. I created a script to pull that information and display it in the Album page.

{:.center}
![]({{ site.baseurl }}/img/project-img/blocjams/album-display.png)
4
#### Music Player

The music player bar sits at the bottom of each album page, and will allow users to pause and play songs, view playback progress, and adjust volume. The script on this page is to give the music player functionality.

{:.center}
![]({{ site.baseurl }}/img/project-img/blocjams/music-player.png)

***
### <span style="color:purple;">Results</span>


I couldn't be happier with the results of Bloc Jams. The project was a needed toe dip into the big pond of web development. I managed to tweak, and break, my way to a usable product.

***
### <span style="color:purple;">Conclusion</span>


What surprised me the most was how the concise code base was able to produce a fair amount of heavy lifting on such a thing as a music player and site.

My initial hesitation, with most things code related, was that the scope is so overwhelming that no matter how small the pieces are, that its simply not going to be an easy task. While I wouldn't call Bloc Jams easy, the idea that its hard to do is simply wrong.
</markdown>