<markdown>
An AirBnB meets commercial real estate application. The idea is to make it easy for commercial landlords to post their spaces for potential tenants.

### Situation
The plan was to make the process of securing commercial real estate from commercial landlords easier.  

The way it stands now you need to spend at least a few weeks going back and forth between your broker who then negotiates with the landlords broker and eventually terms are reached for you to rent a property. 

### Action
#### Version 1: 
Version 1 was an initial mock up for investors using HTML CSS no functionality was required for this stage.

#### Version 2:
After considering the time constraints and resources available we decided to port the HTML/CSS mock up over to Angular.js.

By doing so we would be able to leverage the speed of a Single Page Application while allowing room for scale.

For the backend I used Firebase for the database requirements and its endpoints to connect to the Angular.js frontend.

### Results
With the firebase backend the application is real time so the most up to to date information.


</markdown>
