<div class="title container">
  <h1 align="center">{{ collection.pageTitle }}</h1>

  <div class="row">
      <div class="col-6" ng-repeat="collection in collection.projects track by $index">
        <figure ng-model="collection">
          <img ui-sref="project" ng-src="{{ collection.screenshotUrl }}" ng-click="$parent.collection.setProject(collection)"/>
          <figcaption>
            {{ collection.title }} - {{ collection.year }}</br>
            {{ collection.developer }}</br>
            {{ collection.description }}
          </figcaption>
        </figure>
      </div>
  </div>
</div>
