<div class="container">
	<div class="row">
		<div class="col" align="center">
			<div class="large-padding">
				<h1> Contact me </h1>
				<p>
					I'm available for Full Time employment as well as freelance projects. Please
					send me a little bit more information and we can discuss working together.
				</p>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="contact-form">
			<form action="https://getsimpleform.com/messages?form_api_token=f486567fda32a81d536d7a88ead55864" method="post">
			  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
			  <input type='hidden' name='redirect_to' value='http://www.dominickdelbosque.com' />
		
			  <div class="form-group">
				  <input type='text' class="form-control" name='first_name' placeholder="First Name" />
				</div>

			  <div class="form-group">
				  <input type='text' class="form-control" name='last_name' placeholder="Last Name" />
				</div>

			  <div class="form-group">
				  <input type='text' class="form-control" name='email' placeholder="Email" />
				</div>
			  
			  <div class="form-group">
				  <textarea type='text' class="form-control" name='information' placeholder="Tell me a little bit more information about what you are looking for."></textarea>
				</div>
			  
			  <div class="form-group">
			    <input type='submit' class="btn btn-success btn-md" value='Send' />
				</div>
			</form>
		</div>
	</div>
</div>