<div class="sub-header" align="center">
  <h2 class="SH2"><strong>Beautiful <span class="SH3">&</span> Functional</h2>
  <h2>websites for small businesses.</h2>
</div>

<hr class="my-1">

<div class="process" align="center">
  <h3><strong>My Process</strong></h3>
  <div class="row">
    <div class="col-md-4">
      <i class="fa fa-tasks fa-5x" aria-hidden="true"></i>
      <h4>Wireframe</h4>
      <p>
        Basic needs of the site are designed, such as layout, functionality, and must haves.
      </p>
    </div>

    <div class="col-md-4">
      <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
      <h4>Prototype</h4>
      <p>Fully rendered mockup of the finished site, including image resources and icons.</p>
    </div>

    <div class="col-md-4">
      <i class="fa fa-code fa-5x" aria-hidden="true"></i>
      <h4>Development</h4>
      <p>Enter coding magic.<br> Everything up to now is gets coded using the desired technology.</p>
    </div>
  </div>
</div>
