<header id="header" align="center">
  <h1 class="display-6">Howdy! I'm <span class="handwriting">Dominick</span> and I'm a </h1>
    <h1 class="display-4"><span class="handwriting">Web Developer</span></h1>
  <p class="lead">Front End | Back End | Full Stack</p>
  <hr class="my-4">
  <p>Ruby on Rails | AngularJS | Javascript | JQuery | HTML/CSS | MYSQL </p>
  <p class="lead">
    <div class="buttons" align="center">
      <a class="btn btn-secondary btn-lg" ui-sref="projects" role="button">Projects</a>
      <a class="btn btn-secondary btn-lg" ui-sref="blog" role="button">Musings</a>
    </div>
  </p>
</header>

<div class="sub-header" align="center">
  <h2 class="SH2"><strong>Beautiful <span class="SH3">&</span> Functional</h2>
  <h2>websites for small businesses.</h2>
</div>

<hr class="my-1">

<div class="container process" align="center">
  <h3><strong>My Process</strong></h3>
  <div class="row">
    <div class="col-md-4">
      <i class="fa fa-tasks fa-5x" aria-hidden="true"></i>
      <h4>Wireframe</h4>
      <p>
        Basic needs of the site are designed, such as layout, functionality, and must haves.
      </p>
    </div>

    <div class="col-md-4">
      <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
      <h4>Prototype</h4>
      <p>Fully rendered mockup of the finished site, including image resources and icons.</p>
    </div>

    <div class="col-md-4">
      <i class="fa fa-code fa-5x" aria-hidden="true"></i>
      <h4>Development</h4>
      <p>Enter some coding magic. </br>Your site gets coded using the desired technology.</p>
    </div>
  </div>
</div>
