<div class="container">
  <h5 align="center">{{ project.pageTitle }}</h5>


  <div class="row">
    <div class="col" ng-repeat="project in project.projects track by $index" align="center">
      <div class="recentWork">
        <img src="{{ project.screenshotUrl }}" width="400" height="200"/>
      </div>
      <div>
        <h4>{{ project.title }}</h4><h6>{{ project.developer }} - {{ project.year }}</h6>
        <h6>{{ project.type }}</h6>

        <p>{{ project.description }}</p>
      </div>
    </div>
  </div>
</div>
